*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
.idea/gradle.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/misc.xml
/gradlew
/gradlew.bat
/.gitignore
/gradle/
/app/src/main/java/com/machinsight/rollmachine/greendao/gen/
/android-extend/build/

/pickerview/build/
/pickerview/.idea/
app/release/app-release.apk
app/release/output.json
/pickerview/build/intermediates/incremental
/pickerview/build
/pickerview/.idea
/pickerview/build/intermediates/
.gitignore
